USE [master]
GO
/****** Object:  Database [BaiTap5]    Script Date: 23/4/2025 10:32:56 PM ******/
CREATE DATABASE [BaiTap5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaiTap5', FILENAME = N'D:\Học Tập\Hệ quản trị cơ sở dữ liệu\BaiTap5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaiTap5_log', FILENAME = N'D:\Học Tập\Hệ quản trị cơ sở dữ liệu\BaiTap5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaiTap5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaiTap5]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[ID_DK] [int] NOT NULL,
	[ID_HV] [int] NULL,
	[ID_The] [int] NULL,
	[NgayDK] [date] NULL,
	[NgayBatDau] [date] NULL,
	[ThoiHan] [int] NULL,
	[ID_PT] [int] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonHoiVien]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonHoiVien](
	[ID_HD] [int] NOT NULL,
	[ID_DK] [int] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[PhuongThucTT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonLuong]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonLuong](
	[ID_HDL] [int] NOT NULL,
	[ID_NV] [int] NULL,
	[ThangLuong] [nvarchar](7) NULL,
	[NgayTT] [date] NULL,
	[Thuong] [decimal](10, 2) NULL,
	[PhuCap] [decimal](10, 2) NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[ID_HV] [int] NOT NULL,
	[ID_TK] [int] NULL,
	[TenHV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](20) NULL,
	[Gmail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID_NV] [int] NOT NULL,
	[ID_TK] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](20) NULL,
	[Gmail] [nvarchar](100) NULL,
	[BoPhan] [nvarchar](100) NULL,
	[LuongCoBan] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT](
	[ID_PT] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Tuoi] [int] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](20) NULL,
	[Gmail] [nvarchar](100) NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[KinhNghiem] [nvarchar](200) NULL,
	[GiaThue] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TK] [int] NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheHoiVien]    Script Date: 23/4/2025 10:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheHoiVien](
	[ID_The] [int] NOT NULL,
	[LoaiThe] [nvarchar](50) NULL,
	[GiaThe] [decimal](10, 2) NULL,
	[FreeNuoc] [bit] NULL,
	[FreeTam] [bit] NULL,
	[FreeKhanLau] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_The] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([ID_HV])
REFERENCES [dbo].[HoiVien] ([ID_HV])
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([ID_PT])
REFERENCES [dbo].[PT] ([ID_PT])
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([ID_The])
REFERENCES [dbo].[TheHoiVien] ([ID_The])
GO
ALTER TABLE [dbo].[HoaDonHoiVien]  WITH CHECK ADD FOREIGN KEY([ID_DK])
REFERENCES [dbo].[DangKy] ([ID_DK])
GO
ALTER TABLE [dbo].[HoaDonLuong]  WITH CHECK ADD FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NhanVien] ([ID_NV])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TaiKhoan] ([ID_TK])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TaiKhoan] ([ID_TK])
GO
USE [master]
GO
